body, *{
    font-family: 'sans-serif', 'Nunito';
    margin: 0;
    padding: 0; 
}

h1{
    text-align: center;
}

.backButton{
    position: absolute;
    cursor: pointer;
}

.header{
    padding: 10px;
    box-sizing: border-box;
    background-color: red;
}

.headertxtcontainer{
    margin: auto;
    width: max-content;
}

.main{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: red;
}

.footer{
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0px;
    padding: 10px 0px;
    width:100%;
    box-sizing: border-box;
    background-color:red;
}

.footertxt{
    width: max-content;
}

.grid-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px; 
    column-gap: 10px;
    row-gap: 15px;
    justify-content: center;
    margin-top: 6em;
}

.grid-item{
    height: 300px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 20px;
}

form{
    height: inherit;
    width: inherit;
}

.inputcontainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-right: 1em;
}

.inputfields{
    border: 2px solid black;
}

.submitbtn{
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 130px;
    margin: 0px auto 0px auto;
}

.btnContainer{
    margin: 10px 0px;
}